
/obj/Debug
obj/Debug/net9.0-android/Test1.AssemblyInfo.cs
obj/Debug/net9.0-android/Test1.AssemblyInfoInputs.cache
obj/Debug/net9.0-ios/iossimulator-x64/Test1.AssemblyInfo.cs
/obj/Debug/net9.0-ios/iossimulator-x64
/obj/Debug
/bin/Debug/net9.0-ios/iossimulator-x64
/bin/Debug
/obj
